<div class="chat-container">
    <!-- Sidebar -->
    <app-sidebar [rooms]="chatRooms" [activeRoomId]="activeRoomId" [currentUser]="currentUser"
        (roomSelected)="selectRoom($event)" (logout)="logout()" [isMobileOpen]="isMobileSidebarOpen"
        (toggleMobile)="toggleMobileSidebar()"></app-sidebar>

    <!-- Main chat area -->
    <main class="chat-main" #messageContainer>
        <!-- Chat header -->
        <header class="chat-header">
            <button class="mobile-sidebar-toggle fa-solid fa-bars" (click)="toggleMobileSidebar()">
                <span class="sr-only">Menu</span>
            </button>

            <div class="room-info">
                <h2>{{ activeRoomName }}</h2>
                <span class="online-count">{{ onlineUsers.length }} online</span>
            </div>
        </header>

        <div class="chat-section">
            <!-- Messages area -->
            <app-message-list [messages]="messages" [currentUserId]="currentUser?.id || ''"></app-message-list>

            <!-- Message input -->
            <!-- <app-message-input (messageSent)="sendMessage($event)" (userTyping)="handleTyping()"></app-message-input> -->
            <app-message-input (messageSent)="sendMessage($event)"></app-message-input>
        </div>

    </main>

    <!-- Users sidebar -->
    <app-user-list [users]="users" [isOpen]="isUserListOpen" (close)="toggleUserList()"></app-user-list>
</div>