<aside class="user-list" [class.user-list-open]="isOpen">
    <div class="user-list-header">
        <h2>Online Users</h2>
        <button class="close-button fa-solid fa-xmark" (click)="close.emit()" aria-label="Close user list">
        </button>
    </div>

    <div class="user-list-content">
        <div class="user-group">
            <h3>Online</h3>
            <ul class="users">
                <li *ngFor="let user of onlineUsers" class="user-item">
                    <div class="user-avatar">
                        <img [src]="user.avatar" [alt]="user.name" />
                        <span class="status-dot online"></span>
                    </div>
                    <div class="user-details">
                        <span class="user-name">{{ user.name }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="user-group" *ngIf="awayUsers.length > 0">
            <h3>Away</h3>
            <ul class="users">
                <li *ngFor="let user of awayUsers" class="user-item">
                    <div class="user-avatar">
                        <img [src]="user.avatar" [alt]="user.name" />
                        <span class="status-dot away"></span>
                    </div>
                    <div class="user-details">
                        <span class="user-name">{{ user.name }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="user-group" *ngIf="offlineUsers.length > 0">
            <h3>Offline</h3>
            <ul class="users">
                <li *ngFor="let user of offlineUsers" class="user-item">
                    <div class="user-avatar">
                        <img [src]="user.avatar" [alt]="user.name" />
                        <span class="status-dot offline"></span>
                    </div>
                    <div class="user-details">
                        <span class="user-name">{{ user.name }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>